body {
    background-color: lightgray;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  .welcome-box {
    background-color: white;
    padding: 20px;
    border: 1px solid black;
    display: inline-block;
  }
  
  h1 {
    color: rgb(8, 8, 8);
  }
  
  h2 {
    color: rgb(0, 0, 0);
  }
  
  p {
    color: brown;
  }
  